<html>

<head>
  <title>Contact | Form</title>
  <meta name='description' content='Contact Form'>
  <meta name='keywords' content='Contact Form'>
  <link rel='stylesheet' href='/stylesheet.css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
</head>

<body>
  <header>
    <h1>|| Chris' Contact Form ||</h1>
    <nav>
      <a href='/list'>Contact List</a>
      ||
      <a href='/'>Contact Me</a>
    </nav>
    <br>
    <hr>
  </header>

  <%= yield %>

  <footer>

    <hr>
    Chris Yammine &copy; <%= Time.now.year %>

  </footer>

</body>

</html>