<h3>From: </h3><small><%= @name %></small>
<br>
<h3>Department: </h3><small><%= @department %></small>
<br>
<h3>Address: </h3><small><%= @address %></small>
<br>
<h3>Message: </h3><br>
<small><%= @message %></small>
