<section id='main'>

  <h1>Chris' Support</h1>
  <br>
  <p>If you just click over to the <a href='contact'>contact page</a> you'll be able to send me a message describing exactly what your issue is!</p>

</section>
