<section id='main'>

  <h1>Thanks for sending your message!</h1>
  <h2>This is what you just sent:</h2>

  <table>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Department</th>
      <th>Message</th>
    <tr>
    <tr>
      <td><%= @name %></td>
      <td><%= @address %></td>
      <td><%= @department %></td>
      <td><%= @message %></td>
    </tr>
  </table>




</section>